---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SchoolIcon from "../components/icons/SchoolIcon.astro";
import ProjectIcon from "../components/icons/ProjectIcon.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import User from "../components/icons/User.astro";
---

<Layout
  title="Portfolio of Douglas Barrera - Software Developer"
  description="Hire me to build your next project! I specialize in creating innovative and engaging apps. I'm sure you'll love my work."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <div class="flex items-center gap-4 mb-4">
        <img
          class="rounded-full size-16 shadow-lg"
          src="https://avatars.githubusercontent.com/u/53149834?v=4"
          alt="Doisaac photo"
        />
        <a
          class="flex justify-center items-center hover:scale-105 transition"
          href="https://www.linkedin.com/in/douglas-barrera-doisaac/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Badge>Available for work</Badge>
        </a>
      </div>

      <h1
        class="text-white text-4xl md:text-5xl lg:text-5xl font-bold flex items-center gap-x-4 pb-6 lg:pb-10 tracking-tighter"
      >
        Hey, I'm Douglas Barrera
      </h1>

      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>A fourth-Year student of</span>
        <span class="text-[#c4ffede6]">
          Software Development Engineering,
        </span>
        <span class="text-[#7acdff]"> based in Santa Ana, El Salvador. </span>
        <span class="opacity-75">
          I specialize in creating innovative and engaging apps 💻🖱️.
        </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/douglas-barrera-doisaac/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Doisaac">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="mailto:douglasbarrera95@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          Contact Me!
        </SocialPill>
      </nav>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer
        id="education"
        class="section md:py-0"
      >
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
          <SchoolIcon class="size-8" />
          Education
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects" class="section">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
          <ProjectIcon class="size-8" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about" class="section">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
          <User class="size-8" />
          About Me
        </h2>
        <About />
      </SectionContainer>
    </div>
  </main>
</Layout>
