<article class="flex flex-col md:flex-row justify-center items-center gap-8">
  <div class="text-pretty order-2 md:order-1 [&>p>strong]:text-[#7acdff] [&>p>strong]:font-normal text-gray-300">
    <p>
      My two names are Douglas Isaac, but my username across all platforms is
      Doisaac, pronounced <strong>\doisac\</strong>. I was
      only 11 years old when I took my first "Programming Introduction Course".
      Now, at 21 years old, I'm in my <strong>fourth year of Software Development Engineering.</strong
      > It has been quite a journey!
    </p>
  </div>

  <img
    src="/prof-pic.png"
    alt="Douglas Barrera"
    class="w-64 h-full rotate-3 p-1 lg-p-2 aspect-square rounded-2xl bg-white/10 ring-1 ring-black/70 object-cover order-1 md:order-2"
  />
</article>
