<header class="flex justify-center items-center mt-2 w-full md:text-base fixed z-10">
   <nav 
      class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center [&>a]:px-2 [&>a]:py-2"
   >
    <a data-section="education" class="hover:text-blue-500 transition" href="#education">Education</a>
    <a data-section="projects" class="hover:text-blue-500 transition" href="#projects">Projects</a>
    <a data-section="about" class="hover:text-blue-500 transition" href="#about">About me</a>
    <a data-section="contact" class="hover:text-blue-500 transition" href="mailto:douglasbarrera95@gmail.com">Contact</a>
  </nav>
</header>

<script>
  const $sections = document.querySelectorAll('.section');
  const $navbarLinks = document.querySelectorAll('header nav a') as NodeListOf<HTMLAnchorElement>;

  const OBSERVER_CONFIG = {
    root: null,
    rootMargin: '-200px 0px 0px 0px',
    threshold: 0.6,
  }

  const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          $navbarLinks.forEach(link => {
            if (link.dataset.section === entry.target.id) {
              link.classList.add('text-blue-500');
            } else {
              link.classList.remove('text-blue-500');
            }
          })
        }
      });
  }, OBSERVER_CONFIG);

  $sections.forEach((section) => {
    observer.observe(section);
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
  }

  nav {
    @apply bg-gray-800/90;
  }

  @keyframes nav-shadown {
    0% {
      @apply bg-gray-800/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>