<header class="flex justify-center items-center py-3 w-full md:text-base">
  <nav class="flex justify-center items-center text-sm font-medium text-gray-200 px-3 [&>a]:px-2 [&>a]:py-2">
    <a href="#education">Education</a>
    <a href="#proyects">Projects</a>
    <a href="#about">About me</a>
    <a href="#contact">Contact</a>
  </nav>
</header>